body {
  background-image: url(images/galaxy.jpg);
  ;
  background-size: cover;

  background-repeat: no-repeat;

  font-family: 'Ubuntu', sans-serif;

}

#eight-ball {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em auto;
  background-color: black;
  height: 600px;
  width: 600px;
  border-radius: 50%;
  background: radial-gradient(circle at 200px 200px, #434040, #000);
}

.shake {
  animation: shake 0.5s;

  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {transform: translate(10px, 10px) rotate(0deg);}
  10% {transform: translate(-10px, -20px) rotate(-1deg)}
  20% { transform: translate(-30px, 0px) rotate(1deg); }
  30% { transform: translate(30px, 20px) rotate(0deg); }
  40% { transform: translate(10px, -10px) rotate(1deg); }
  50% { transform: translate(-10px, 20px) rotate(-1deg); }
  60% { transform: translate(-30px, 10px) rotate(0deg); }
  70% { transform: translate(30px, 10px) rotate(-1deg); }
  80% { transform: translate(-10px, -10px) rotate(1deg); }
  90% { transform: translate(10px, 20px) rotate(0deg); }
  100% { transform: translate(10px, -20px) rotate(-1deg); }
}



/*.back { 
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5em auto;
  background-color: black;
  height: 600px;
  width: 600px;
  border-radius: 50%;
  background: radial-gradient(circle at 200px 200px, #434040, #000);
  z-index: 
}*/

.innerdiv {
  margin: 0 auto;
  background-color: white;
  font-size: 200px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

/*.inside-ball {
  margin: 0 auto;
  background-color: #0e0320;
  font-size: 200px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  height: 250px;
  width: 250px;
  border-radius: 50%;
}*/

#response {
  margin: .3em auto;
  width: 5px;
	height: 50px;
	border-left: 95px solid transparent;
	border-right: 95px solid transparent;
	border-top: 150px solid rgb(4, 55, 196);
  animation: fadeIn 5s; 
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

#prediction {
  position: relative;
  width: 110px;
  height: 80px;
  top: 5px;
  color: white;
  font-size: 15px;
  margin: -15em auto;
  animation: fadeIn 6s;
}


.bottom-text {
  font-family: 'Ubuntu', sans-serif;
  width: 40%;
  margin: 0 auto;
  font-size: 50px;
  text-align: center;
  color: white
}



@media only screen and (max-width: 600px) {

  body {
    background-image: url(images/galaxy.jpg);
    ;
    background-size: cover;
  
    background-repeat: no-repeat;
  
    font-family: 'Ubuntu', sans-serif;

    overflow: hidden;
  

  }

  .innerdiv {
    margin: 0 auto;
    background-color: white;
    font-size: 130px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    height: 135px;
    width: 135px;
    border-radius: 50%;
  }

  #eight-ball {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15em auto auto auto;
    background-color: black;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background: radial-gradient(circle at 200px 200px, #434040, #000);
  }

  .bottom-text {
    font-family: 'Ubuntu', sans-serif;
    width: 80%;
    margin: 3em auto 30em auto;
    font-size: 20px;
    text-align: center;
    color: white
  }
  
  #response {
    margin: .3em auto;
    width: 5px;
    height: 50px;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 85px solid rgb(4, 55, 196);
    animation: fadeIn 5s; 
  }

  #prediction {
    position: relative;
    text-align: center;
    width: 20px;
    height: 20px;
    top: 5px;
    left: -2px;
    color: white;
    font-size: 8px;
    margin: -20em auto;
    animation: fadeIn 6s;
  }
}